@import "@fontsource-variable/inter";
@import "@fontsource-variable/playfair";
@import "@fontsource/play";

:root {
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);
  --primary: rgb(141, 16, 218);
  --secondary: rgba(217, 211, , 226, 1);
  --primary-text: rgb(26, 2, 27);
  --secondary-text: rgba(162, 136, 227, 1);
  --primary-action: rgb(192, 162, 11);
  --link: rgb(255, 247, 89);
  --cta: rgb(255, 142, 67);

  --provider-primary: rgb(255, 159, 14);
  --provider-secondary: #FFF1D7;

  --host-primary: rgb(156, 79, 255);
  --host-secondary: rgb(238, 225, 255);

  --main-grid-template-areas: "lgutter main rgutter";
  --main-grid-template-cols: 5dvw 1fr 5dvw;

  --primary-font-family: 'Inter Variable', sans-serif;
  --secondary-font-family: 'Play', sans-serif;
  --alt-font-family: 'Playfair Variable', sans-serif;
}

@media screen and (min-width: 30rem) {
  :root {
    --main-grid-template-cols: 8dvw 1fr 8dvw;
  }
}

@media screen and (min-width: 60rem) {
  :root {
    --main-grid-template-cols: 12dvw 1fr 12dvw;
  }
}

html,
body {
  font-family: var(--primary-font-family);
  font-size: 16px;
  color: var(--primary-text);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  min-height: 100%;
}

body {
  scroll-behavior: smooth;
  display: grid;
  row-gap: 1rem;
  grid-template-areas: var(--main-grid-template-areas);
  grid-template-columns: var(--main-grid-template-cols);
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
}

input, button {
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  --_background-color: var(--primary-action);
  border-width: 2px;
  border-radius: 0;
  border-color: transparent;
  background-color: var(--_background-color);
  padding: 0.5rem 1.25rem;
  color: var(--white);
}

input[type="button"], input.button {
  --_background-color: var(--primary-action);
  display: inline-block;
  border-width: 2px;
  border-radius: 0;
  border-color: transparent;
  border-style: solid;
  outline-color: transparent;
  outline-width: 2px;
  outline-offset: 1px;
  outline-style: solid;
  background-color: var(--_background-color);
  padding: 0.5rem 1.25rem;
  color: var(--white);
  cursor: pointer;
  transition: all 0.375s ease-in-out;
}

:is(button, input[type="button"], input.button):where(:hover, :focus):not([disabled]) {
  background-color: color-mix(in srgb, var(--_background-color) 75%, white);
  outline-color: var(--_background-color);
}

:is(button, input[type="button"], input.button):is([disabled]) {
  pointer-events: none;
  background-color: color-mix(in srgb, var(--_background-color) 75%, black);
}

input:not([type="submit"]):not([type="button"]) {
  border-radius: 0;
  border-style: solid;
  border-color: var(--primary-text);
  border-width: 2px;
  padding: 0.75rem;
  outline: none;
  outline-width: 2px;
  outline-offset: 1px;
  outline-style: solid;
  outline-color: transparent;
  transition: all 0.375s ease-in-out;
}

input:not([type="button"]):not([type="radio"]):not([type="checkbox"]):not([type="submit"]):is(:focus) {
  outline-color: var(--primary-text);
}

.subheading {
  font-size: 1.5rem;
  font-weight: 500;
}
