---
import { getCollection } from "astro:content";
import TeamMember from "./TeamMember.astro";

const types = await getCollection("members");
const members = types.sort((a, b) => a.data.order > b.data.order ? 1 : -1);
---

<h3 class="subheading">Meet the Team</h3>

<div role="list" data-count={members.length % 2 === 0 ? 'even' : 'odd'}>
  {
    members.map((m) => (
      <TeamMember
        name={m.data.name}
        role={m.data.role}
        pic={m.data.pic}
        description={m.data.description}
      />
    ))
  }
</div>

<style>
  .subheading {
    font-family: var(--alt-font-family);
    font-size: 2rem;
    font-weight: 700;
  }

  [role="list"] {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    max-width: 60rem;
  }

  @media screen and (min-width: 50rem) {
    [role="list"] {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media screen and (min-width: 58rem) {
    [role="list"] {
      grid-template-columns: repeat(4, 1fr);
    }
  }
</style>
