---

---

<div id="mc_embed_shell">
  <div id="mc_embed_signup">
    <form
      action="https://gmail.us21.list-manage.com/subscribe/post?u=20488a1991a9a3c85bbb1aa52&id=1b3f4aeac2&f_id=007af3e6f0"
      method="post"
      id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form"
      class="validate subscribe-form"
      target="_blank"
    >
      <label for="mce-EMAIL">Sign up to know when we launch!</label>
      <div>
        <input
          type="email"
          name="EMAIL"
          class="required email"
          id="mce-EMAIL"
          required=""
          value=""
          style={{ width: "100%" }}
          placeholder="contact@marketplace.com"
        />
        <div class="mc-field-group input-group">
          <br />
          <p class="purpose-text">Are you interested in becoming a</p>
          <ul class="purpose-list">
            <li>
              <input
                type="radio"
                name="group[2134]"
                id="mce-group[2134]-2134-0"
                value="1"
              /><label for="mce-group[2134]-2134-0">Customer</label>
            </li><li>
              <input
                type="radio"
                name="group[2134]"
                id="mce-group[2134]-2134-1"
                value="2"
              /><label for="mce-group[2134]-2134-1"
                >Service/Product Provider</label
              >
            </li>
          </ul>
        </div>
        <div style={{ visibility: "hidden", position: "absolute" }}>
          <label for="mce-SIGNUPLOC">Signup location</label>
          <input
            tab-index="-1"
            type="text"
            name="SIGNUPLOC"
            class="text"
            id="mce-SIGNUPLOC"
            value="ComingSoon"
          />
        </div>
      </div>
      <div id="mce-responses" class="clear foot">
        <div class="response" id="mce-error-response" style="display: none;">
        </div>
        <div class="response" id="mce-success-response" style="display: none;">
        </div>
      </div>
      <div aria-hidden="true" style="position: absolute; left: -5000px;">
        /* real people should not fill this in and expect good things - do not
        remove this or risk form bot signups */
        <input
          type="text"
          name="b_20488a1991a9a3c85bbb1aa52_1b3f4aeac2"
          tabindex="-1"
          value=""
        />
      </div>
      <div class="optionalParent">
        <div class="clear foot">
          <input
            type="submit"
            name="subscribe"
            id="mc-embedded-subscribe"
            class="button"
            value="Subscribe"
            style={{fontSize: '1.5rem'}}
          />
          <!-- <p style="margin: 0px auto;"><a href="http://eepurl.com/iG3IIs" title="Mailchimp - email marketing made easy and fun"><span style="display: inline-block; background-color: transparent; border-radius: 4px;"><img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a></p> -->
        </div>
      </div>
    </form>
  </div>
</div>
<script
  type="text/javascript"
  src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
<script type="text/javascript">
  (function ($) {
    window.fnames = new Array();
    window.ftypes = new Array();
    fnames[0] = "EMAIL";
    ftypes[0] = "email";
    fnames[6] = "SIGNUPLOC";
    ftypes[6] = "text";
    fnames[1] = "FNAME";
    ftypes[1] = "text";
    fnames[2] = "LNAME";
    ftypes[2] = "text";
    fnames[3] = "ADDRESS";
    ftypes[3] = "address";
    fnames[4] = "PHONE";
    ftypes[4] = "phone";
    fnames[5] = "BIRTHDAY";
    ftypes[5] = "birthday";
  })(jQuery);
  var $mcj = jQuery.noConflict(true);
</script>

<style>
  .label {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    display: inline-block;
  }
  .purpose-text {
    font-weight: 500;
  }
  .purpose-list {
    margin-block: 1rem;
  }
  .response:empty {
    display: none;
  }
  .response {
    padding-block: 1rem;
  }
  #mce-error-response {
    color: #d00202c4;
  }
  #mce-success-response {
    color: #006800;
  }
</style>
