---

---

<div id="mc_embed_shell" style={{ width: "100%" }}>
  <div id="mc_embed_signup">
    <form
      action="https://gmail.us21.list-manage.com/subscribe/post?u=20488a1991a9a3c85bbb1aa52&id=1b3f4aeac2&f_id=007af3e6f0"
      method="post"
      id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form"
      class="validate subscribe-form"
      target="_blank"
    >
      <label class="email-label" for="mce-EMAIL"
        >Subscribe to know when we launch!</label
      >
      <ul class="purpose-list">
        <li>
          <input
            type="radio"
            name="group[2134]"
            id="mce-group[2134]-2134-0"
            value="1"
          /><label for="mce-group[2134]-2134-0">Event host</label>
        </li><li>
          <input
            type="radio"
            name="group[2134]"
            id="mce-group[2134]-2134-1"
            value="2"
          /><label for="mce-group[2134]-2134-1">Event professional</label>
        </li>
      </ul>
      <div class="form-group email-group">
        <input
          type="email"
          name="EMAIL"
          class="required email"
          id="mce-EMAIL"
          required=""
          value=""
          placeholder="Your email"
        />
        <input
          type="submit"
          name="subscribe"
          id="mc-embedded-subscribe"
          class="button"
          value="Notify Me"
          style={{ fontSize: "1rem", lineHeight: "1.65rem" }}
        />
        <div style={{ visibility: "hidden", position: "absolute" }}>
          <label for="mce-SIGNUPLOC">Signup location</label>
          <input
            tab-index="-1"
            type="text"
            name="SIGNUPLOC"
            class="text"
            id="mce-SIGNUPLOC"
            value="ComingSoon"
          />
        </div>
      </div>
      <div id="mce-responses" class="clear foot">
        <div class="response" id="mce-error-response" style="display: none;">
        </div>
        <div class="response" id="mce-success-response" style="display: none;">
        </div>
      </div>
      <div aria-hidden="true" style="position: absolute; left: -5000px;">
        /* real people should not fill this in and expect good things - do not
        remove this or risk form bot signups */
        <input
          type="text"
          name="b_20488a1991a9a3c85bbb1aa52_1b3f4aeac2"
          tabindex="-1"
          value=""
        />
      </div>
    </form>
  </div>
</div>
<script
  type="text/javascript"
  src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
<script type="text/javascript">
  (function () {
    window.fnames = new Array();
    window.ftypes = new Array();
    fnames[0] = "EMAIL";
    ftypes[0] = "email";
    fnames[6] = "SIGNUPLOC";
    ftypes[6] = "text";
    fnames[1] = "FNAME";
    ftypes[1] = "text";
    fnames[2] = "LNAME";
    ftypes[2] = "text";
    fnames[3] = "ADDRESS";
    ftypes[3] = "address";
    fnames[4] = "PHONE";
    ftypes[4] = "phone";
    fnames[5] = "BIRTHDAY";
    ftypes[5] = "birthday";
  })(jQuery);
  jQuery.noConflict(true);
</script>

<style>
  .form-group {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
  }
  .email-label {
    margin-bottom: 0.4rem;
    font-size: clamp(0.85rem, 1rem, 1.2rem);
    display: inline-block;
    font-weight: 300;
  }
  input[type="email"] {
    max-width: 60ch;
    border-radius: 0.25rem;
    flex: 1;
  }
  .purpose {
    display: grid;
    grid-template-columns: 3fr min-content;
    align-items: center;
  }
  .purpose-text {
    font-weight: 300;
  }
  .purpose-list {
    margin-block: 0.25rem;
    font-weight: 300;
    display: flex;
    gap: 1rem;
  }
  .purpose-list li {
    line-height: 1.5rem;
    display: flex;
    gap: 0.25rem;
  }
  .email-group {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  @media screen and (min-width: 38rem) {
    .email-group {
      flex-direction: row;
      align-items: center;
    }
  }
  .response:empty {
    display: none;
  }
  .response {
    padding-block: 1rem;
  }
  #mce-error-response {
    color: #d00202c4;
  }
  #mce-success-response {
    color: #006800;
  }
  input[type="submit"] {
    --_background-color: var(--cta);
    /* margin-top: 2rem; */
    border-radius: 0.25rem;
    font-weight: 600;
  }

  @media screen and (max-width: 20rem) {
    input[type="submit"] {
      width: 100%;
      margin-top: 0.25rem;
    }
  }
</style>
